.home {

  button {
    // position: absolute;
    width: 12rem;
    // height: 22px;
    // left: 368px;
    // top: 966px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-align: justify;

    color: #FF57B2;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}
