.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20rem;
}

.posts {
  max-width: 720px;

  a {
      display: block;

      color: #F8F8F8;
      text-align: justify;
      margin-bottom: 50px;
    }

      & + a {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid gray;
      }

      time {
          font-size: 1rem;
          color: #D7D7D7;
          margin-right: 2rem;
          font-size: 14px;
          width: 15rem;
      }

      strong {
          display: block;
          font-size: 1.5rem;
          margin-top: 1rem;
          line-height: 2rem;
          transition: color 0.2s;

          &:hover {
            color: #FF57B2;
          }
      }

      P {
          color: #D7D7D7;
          margin-top: 0.5rem;
          font-size: 14px;
          line-height: 1.625rem; //26px
      }

      button {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: #FF57B2;
        background-color: transparent;
        border: none;
      }
  }

  .flex {
    display: flex;
    align-items: center;

  }
