.container {
  // max-width: 1120px;
  margin: 0 auto;
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .linha {
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
    border: 1px solid #D7D7D7;
    opacity: 0.1;
  }

  .align {
    display: flex;
    width: 100%;
    padding-left: 25%;
    margin-bottom: 2%;
  }

  .hooks, .proximosHooks {
    text-align: justify;

    p {
      width: 70%;
    }

    button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: justify;
      color: #FF57B2;
      background-color: transparent;
      border: none;
    }
  }

  .proximosHooks {
    padding-left: 25%;
  }

  .banner {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}


.posts {
  // max-width: 720px;
  padding-right: 25%;
  padding-left: 25%;
  margin-bottom: 2%;

  a {
      color: #D7D7D7;
      text-align: justify;
      align-items: center;

    }

      & + a {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid gray;
      }

      time {
          font-size: 1rem;
          display: flex;
          align-items: center;
          margin-right: 2rem;
          color: #BBBBBB;
      }

      strong {
          // display: block;
          // font-size: 1.5rem;
          margin-top: 1rem;


          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: #F8F8F8;
      }

      P {
          color: #D7D7D7;
          margin-top: 0.5rem;
          line-height: 1.625rem; //26px
          text-align: justify;
      }
  }

  .flex {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .content {
    font-size: 18px;
  }

  .title {
    font-size: 48px;
    line-height: 50px !important;
    margin-bottom: 1rem;

    &:hover {
      color: #FF57B2;
    }
  }

  .autor {
    margin-right: 2rem;
  }
