.boxLogo {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
}


.container {
  // max-width: 1120px;
  margin: 0 auto;
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  .banner {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}


.posts {
  // max-width: 720px;
  padding-right: 25%;
  padding-left: 25%;

  a {
      display: block;
      color: #F8F8F8;
      text-align: justify;
      align-items: center;

    }

      & + a {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid gray;
      }

      time {
          font-size: 1rem;
          display: flex;
          align-items: center;
          margin-right: 2rem;
          color: #BBBBBB;
      }

      strong {
          display: block;
          // font-size: 1.5rem;
          margin-top: 1rem;
          line-height: 2rem;
          transition: color 0.2s;


          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 58px;
          letter-spacing: -0.5px;
          color: #F8F8F8;

          &:hover {
            color: #FF57B2;
          }
      }

      P {
          color: #D7D7D7;
          margin-top: 0.5rem;
          line-height: 1.625rem; //26px
      }
  }

  .flex {
    display: flex;
    align-items: center;
  }
